root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
end_of_line = lf

[*.json]
indent_size = 2

[*.md]
indent_size = 1
max_line_lenght = 80
trim_trailing_whitespace = false